

   <!doctype html>
   <html lang="en">
   
   <head>
       <meta charset="UTF-8">
       <meta name="viewport"
             content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
       <title>أكلاتي</title>
   
       <!--jquery cdn-->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
               integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
               crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
               integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
               crossorigin="anonymous"></script>
   
     <!--tabel export -->
    <link rel="stylesheet" href="/js/tabelExport/css/tableexport.min.css">
    <script src="/js/tabelExport/FileSaver.js"></script>


       <!--font awesome icons-->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
             integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   
       <!--bootstrap 4.2.1-->
       <script src="bootstrap-4.2.1/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="bootstrap-4.2.1/css/bootstrap.min.css">
   
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <!--custom css style-->
       <link rel="stylesheet" href="css/style.css">
       <!--custom js -->
       <script src="js/backend.js"></script>
       
   
       <!--chart js-->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
   </head>
   
   <body>
   
   <!--start navbar-->
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bgNavColor">
       <a class="navbar-brand bg-white rounded text-danger px-2" href="/main">أكلاتي</a>
       <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#myNav">
           <span class="navbar-toggler-icon"></span>
       </button>
   
       <div class="collapse navbar-collapse" id="myNav">
   
           <ul class="navbar-nav text-right">
               <li class="nav-item">
                   <a class="nav-link nav-effect" href="/main"><i class="fas fa-tachometer-alt"></i> الرئيسية </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link nav-effect" href="/items"><i class="fas fa-utensils"></i> الأكلات </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link nav-effect" href="/orders"><i class="fas fa-boxes"></i> الطلبات </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link nav-effect" href="/categories"><i class="fas fa-th-large"></i> الأصناف </a>
               </li>
           </ul>
           <ul class="navbar-nav mr-auto">
               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                       <img src="/uploads/<%= agentImage %>" class="" width="40" alt="">
                       <%= agentName %>
                   </a>
                   <div class="dropdown-menu text-right" id="dropdown">
                       <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> الأعدادات </a>
                       <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> تسجيل الخروج </a>
                   </div>
               </li>
           </ul>
       </div>
   
   </nav>
   <!--end nav bar-->