<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>أكلاتي</title>

    <!--jquery cdn-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

     <!--tabel export -->
    <link rel="stylesheet" href="/js/tabelExport/css/tableexport.min.css">
    <script src="/js/tabelExport/FileSaver.js"></script>

    <!--font awesome icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!--bootstrap 4.2.1-->
    <script src="bootstrap-4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap-4.2.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--custom css style-->
    <link rel="stylesheet" href="css/style.css">
    <!--custom js -->
    <script src="js/backend.js"></script>
    

    <!--chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>

<body>

<!--start navbar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bgNavColor">
    <a class="navbar-brand bg-white rounded text-danger px-2" href="/main">أكلاتي</a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#myNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNav">

        <ul class="navbar-nav test text-right">
            <li class="nav-item active">
                <a class="nav-link nav-effect" href="/main"><i class="fas fa-tachometer-alt"></i> الرئيسية </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-effect" href="/items"><i class="fas fa-utensils"></i> الأكلات </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-effect" href="/orders"><i class="fas fa-boxes"></i> الطلبات </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-effect" href="/categories"><i class="fas fa-th-large"></i> الأصناف </a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="/uploads/<%= agentImage %>" class="" width="40" alt="">
                    <%= agentName %>
                </a>
                <div class="dropdown-menu text-right" id="dropdown">
                    <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> الأعدادات </a>
                    <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> تسجيل الخروج </a>
                </div>
            </li>
        </ul>
    </div>

</nav>
<!--end nav bar-->

<!--start div container-->
<div class="container-fluid">

    <div class="row ">
        
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
            <div class="card myShadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-right text-secondary">
                            <h6 class="font-weight-bold">عدد الطلبات</h6>
                            <h3 class="text-primary"><%= customerCount %></h3>
                        </div>
                        <i class="fas fa-shopping-cart fa-3x text-primary pt-3"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
            <div class="card myShadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-right text-secondary">
                            <h6 class="font-weight-bold">الطلبات المعلقة</h6>
                            <h3 class="text-danger"><%= suspended %></h3>
                        </div>
                        <i class="fas fa-boxes fa-3x text-danger pt-3"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
            <div class="card myShadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-right text-secondary">
                            <h6 class="font-weight-bold">الطلبات المنفذة</h6>
                            <h3 class="text-success"><%= deliverd %></h3>
                        </div>
                        <i class="fas fa-clipboard-check fa-3x text-success pt-3"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
            <div class="card myShadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-right text-secondary">
                            <h6 class="font-weight-bold">مبيعات اليوم د.ع</h6>
                            <h3 class="text-warning"><%= sales %></h3>
                        </div>
                        <i class="far fa-money-bill-alt text-warning fa-3x pt-3"></i>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row mt-4 justify-content-around">

        <div class="col-lg-7 col-md-11 col-sm-12    bg-white shadow">
            <h4 class="text-right pt-3"><i class="fas fa-boxes  text-danger"></i> الطلبات</h4>
            <hr>
             <div class="form-inline">
                <input type="text" id="myInput" class="form-control form-control-sm " onkeyup="myFunction()" placeholder="بحث" title="Type in a name">
                <button class="btn btn-success mr-auto" onclick="exportCsv()" href="#"><i class="fas fa-file-csv"></i> تصدير كملف CSV </button>
            </div>
            <!--start Tabel-->
            <div class="table-responsive">
                <table id="bootstrap-table" class="table table-striped">

                    <!--start Tabel Head-->
                    <thead class="bg-danger text-white text-right">
                    <tr>
                        <th scope="col">رقم الطلب</th>
                        <th scope="col">أسم العميل</th>
                        <th scope="col">رقم الهاتف</th>
                        <th scope="col">العدد</th>
                        <th scope="col">السعر الكلي</th>
                        <th scope="col">حالة الطلب</th>
                        <th scope="col">التفاصيل</th>
                    </tr>
                    </thead>
                    <!--end Tabel Head-->

                    <!--start Tabel Body-->
                    <tbody id="orderTbl" class="text-right">
                    <% if(orders.length > 0){ %>
                        <% orders.forEach(function(order){ %>
                    <tr>
                        <td><%= order.Id %></td>
                        <td><%= order.customer_name %></td>
                        <td><%= order.customer_phone %></td>
                        <td>2</td>
                        <td><%= order.final_cost %></td>
                        <% if (order.stutes_Id == 1) { %>
                        <td><span class="badge badge-success text-white"><i
                                class="far fa-check-circle"></i> تم تنفيذه</span></td>
                        <% } %>
                        <% if (order.stutes_Id == 2) { %>
                        <td><span class="badge badge-warning text-white"><i class="fas fa-people-carry"></i> قيد التوصيل</span>
                        </td>
                        <% } %>
                        <% if (order.stutes_Id == 3) { %>
                            <td><span class="badge badge-danger text-white"><i class="far fa-times-circle"></i> مرفوض</span>
                            </td>
                            <% } %>
                        <% if (order.stutes_Id == 4) { %>
                        <td><span class="badge badge-info text-white"><i class="far fa-clock"></i> معلق</span></td>
                        <% } %>
                        <td><a href="/orders/details/<%= order.uuid %>"  class=" show-order btn btn-primary btn-sm" role="button" data-toggle="modal"
                            data-target="#orderDetailsModal"><i class="far fa-eye"></i> مشاهدة
                     </a></td>

                    </tr>
                    <%  }); %>
                    <% } %>
                    
                    </tbody>
                    <!--end Tabel Body-->

                </table>
            </div>
            <!--end Tabel-->
        </div>

        <!--Start Order Details Modal -->
        <div class="modal fade text-right" id="orderDetailsModal" tabindex="-1" role="dialog"
             aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">

                <div class="modal-content justify-content-around">
                    <div class="modal-header card-color text-white">
                        <h5 class="modal-title">
                            <i class="far fa-file-alt"></i> تفاصيل طلب رقم # : O-2JDN
                            <span class="badge badge-info  text-white" id="status"><i class="far fa-clock"></i> معلق</span>
                        </h5>
                    </div>
                    <div class="modal-body ">
                        <div class="form-row text-danger">
                            <div class="form-group col-lg-2 col-md-3 col-md-4">
                                <label for="orderID"><i class="far fa-user-circle"></i> أسم العميل : </label>
                                <input type="text" class="form-control form-control-sm" name="orderID" id="orderID"
                                       value="" readonly>
                            </div>
                            <div class="form-group col-lg-2 col-md-3 col-md-4">
                                <label for="phone"><i class="fas fa-mobile-alt"></i> الهاتف : </label>
                                <input type="text" class="form-control form-control-sm" name="phone" id="phone"
                                       value="" readonly>
                            </div>
                            <div class="form-group col-lg-3 col-md-3 col-md-4">
                                <label for="address"><i class="fas fa-map-marked-alt"></i> العنوان : </label>
                                <input type="text" class="form-control form-control-sm" name="address" ID="address"
                                       value="" readonly>
                            </div>
                            <div class="form-group col-lg-2 col-md-3 col-md-4">
                                <label for="orderTime"><i class="far fa-calendar-alt"></i> وقت الطلب : </label>
                                <input type="time" class="form-control form-control-sm" name="orderTime"
                                       id="orderTime" value="" readonly>
                            </div>
                            <div class="form-group col-lg-2 col-md-3 col-md-4">
                                <label for="amount"><i class="far fa-money-bill-alt"></i> المبلغ : </label>
                                <input type="number" class="form-control form-control-sm" name="amount" id="amount"
                                       value="" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <!--start Table-->
                                <div class="table-responsive-sm shadow">
                                    <table class="table table-striped table-bordered">

                                        <!--start Table Head-->
                                        <thead class="text-center bg-danger text-white ">
                                        <tr>
                                            <th># تسلسل</th>
                                            <th>أسم الأكلة</th>
                                            <th>صنفها</th>
                                            <th>العدد</th>
                                            <th>المبلغ</th>
                                            <th>الأجمالي</th>
                                        </tr>
                                        </thead>
                                        <!--end Table Head-->

                                        <!--start Table Body-->
                                        <tbody id="orders-table" class="text-center">
                                            
                                        
                                        </tbody>
                                        <!--end Table Body-->

                                    </table>
                                </div>
                                <!--end Table-->

                            </div>

                            <div class="col-12 text-center">
                                <h5 id="finalCost" class="text-success"></h5>
                            </div>

                        </div>

                    </div>

                    <div class="modal-footer justify-content-center justify-content-between card-color">
                        <a href="" id="button-accept" role="button" class="btn btn-success btn-md text-white"><i
                                class="far fa-check-circle"></i> قبول الطلب </a>
                        <a href="" id="button-reject" role="button" class="btn btn-danger btn-md text-white"><i
                                class="far fa-window-close"></i> رفض الطلب </a>
                        <button type="button" class="btn btn-primary btn-md" data-dismiss="modal"><i
                                class="far fa-times-circle"></i> أغلاق
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <!--End Order Details Modal-->

        <div class="col-lg-4 col-md-11 col-sm-11  mt-sm-3 my-4 bg-white shadow">
            <h4 class="text-right pt-3"><i class="fas fa-chart-bar text-danger"></i> أحصائيات</h4>
            <hr>
            <canvas id="chart"></canvas>
        </div>

    </div>

</div>
<!--end div container-->
</body>

<script src="/js/tabelExport/js/tableexport.min.js"></script>
<script src="/js/tabelExport/FileSaver.min.js"></script>
<script src="/js/bootstrap_datatable/ar-lang.js"></script>
<script>
    function exportCsv(){
        $('#bootstrap-table').tableExport({type:'csv'});
    }

    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#orderTbl tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    
    let myChart = document.getElementById("chart").getContext('2d');

    let chart = new Chart(myChart, {
        responsive: true,
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

</html>

