<% include ../partials/header  %>

<!--start div container-->
<div class="container-fluid">


    <div class="row ">

        <div class="col-lg-11 mr-3  bg-white shadow pb-3">
            <div class="d-flex">
                <h4 class="text-right pt-3"><i class="fas fa-th-large  text-danger"></i> الأصناف </h4>
                <button type="button" class="btn btn-success  mr-auto m-3" data-toggle="modal" data-target="#addModal">
                    <i class="far fa-plus-square fa-1x"></i> صنف جديد
                </button>
            </div>
            <hr>
            <!--start Table-->
            <div class="table-responsive-sm ">
                <table class="table table-striped ">

                    <!--start Table Head-->
                    <thead class="text-center bg-danger text-white ">
                    <tr>
                        <th># تسلسل</th>
                        <th>رمز الصنف</th>
                        <th>أسم الصنف</th>
                        <th>الفعاليات</th>
                    </tr>
                    </thead>
                    <!--end Table Head-->

                    <!--start Table Body-->
                    <tbody class="text-center">
                    <% if(categories.length > 0){ %>
                        <% var i=1; categories.forEach(function(category){ %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= category.Id %></td>
                        <td><%= category.category_name %></td>
                        <td class="text-center">
                            <a href="/categories/<%= category.uuid %>" class="show-category btn btn-info btn-sm text-white" data-toggle="modal"
                               data-target="#editModal">
                                <i class="fas fa-eye"></i>
                                مشاهدة
                            </a>
                        </td>
                    </tr>
                    <% i++; }); %>
                    <% } %>
                    </tbody>
                    <!--end Table Body-->

                </table>
            </div>
            <!--end Table-->

            <!--table summery-->
            <div class="row text-center  justify-content-center mt-2">

                <div class="col-4  bg-danger text-white border border-danger mb-3">
                    <h5 class="font-weight-bold pt-2"><i class="fas fa-th-large"></i> عدد الأصناف : <%= categoriesCount %> </h5>
                </div>

            </div>
            <!--end table summery-->

            <!--Add Modal -->
            <div class="modal fade text-right" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header text-white card-color">
                            <h5 class="modal-title"><i class="fas fa-th-large"></i> صنف جديد :</h5>
                        </div>
                        <div class="modal-body ">
                            <form id="addCategoryForm" action="/categories/add" enctype="multipart/form-data" method="POST">
                                <div class="form-row">

                                    <div class="form-group col-12">
                                        <label for="addCategoryName"><i class="fas fa-th-large text-danger"></i> أسم
                                            الصنف : </label>
                                        <input type="text" class="form-control form-control-sm" name="addCategoryName"
                                               id="addCategoryName" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="addcustomFile"><i class="fas fa-image text-danger"></i> صورة
                                            الصنف :</label>
                                        <div class="custom-file text-left">
                                            <input type="file" class="custom-file-input" id="addCategoryImage" name="addCategoryImage" required>
                                            <label class="custom-file-label" for="addcustomFile">أختر صورة</label>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <div class="modal-footer justify-content-center justify-content-between card-color">
                            <a href="#" id="addCategoryForm-button" role="button" class="btn btn-success btn-md text-white"><i
                                    class="far fa-plus-square"></i> حفظ </a>
                            <button type="button" class="btn btn-danger btn-md" data-dismiss="modal"><i
                                    class="far fa-times-circle"></i> أغلاق
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <!--Add Edit Modal-->

            <!--Edit Modal -->
            <div class="modal fade text-right" id="editModal" tabindex="-1" role="dialog"
                 aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <img id="categoryImage" class="blure-image img-fluid vw-100" src="">
                            <img id="smallCategoryImage" class="rounded-circle border border-danger overly-item-image" height="120" width="120"
                                 src="">
                        </div>

                        <div class="modal-body ">
                            <form id="editCategoryForm" action="/categories/update" method="POST" enctype="multipart/form-data">
                                <div class="form-row">

                                    <div class="form-group col-12">
                                        <label for="editCategoryName"><i class="fas fa-th-large text-danger"></i> أسم
                                            الصنف : </label>
                                        <input type="text" class="form-control form-control-sm" name="editCategoryName"
                                               id="editCategoryName" required>
                                        <input type="hidden" class="form-control form-control-sm" name="editCategoryId"
                                        id="editCategoryId">
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="editcustomFile"><i class="fas fa-image text-danger"></i> صورة
                                            الأكلة :</label>
                                        <div class="custom-file text-left">
                                            <input type="file" class="custom-file-input" id="editCategoryImage" name="editCategoryImage">
                                            <input type="hidden" class="form-control form-control-sm" name="categoryImage"
                                             id="categoryImage">
                                            <label class="custom-file-label" for="editcustomFile">أختر صورة</label>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="modal-footer justify-content-center justify-content-between card-color">
                            <a href="#" id="editCategoryForm-button" role="button" class="btn btn-warning btn-md text-white"><i
                                    class="far fa-edit"></i> تعديل </a>
                            <a href="#" role="button" class="btn btn-danger btn-md text-white" data-dismiss="modal"
                               data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i> حذف </a>
                            <button type="button" class="btn btn-primary btn-md" data-dismiss="modal"><i
                                    class="far fa-times-circle"></i> أغلاق
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!--end Edit Modal-->

            <!--Delete Modal -->
            <div class="modal fade text-right" id="deleteModal" tabindex="-1" role="dialog"
                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header text-white card-color">
                            <h5 class="modal-title"><i class="far fa-trash-alt"></i> حذف الأكلة :</h5>
                        </div>

                        <div class="modal-body ">
                            <form action="">
                                <div class="form-row">
                                    <div class="form-group col-12 text-center">
                                        <h5 class="">هل أنت متأكد من حذف صنف </h5>
                                        <h4 id="deleteCategoryAlert" class="text-danger"></h4>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer justify-content-center justify-content-between card-color">
                            <a href="#" id="delete-category" role="button" class="btn btn-danger btn-md text-white"><i
                                    class="far fa-trash-alt"></i> حذف </a>
                            <button type="button" class="btn btn-primary btn-md" data-dismiss="modal"><i
                                    class="far fa-times-circle"></i> أغلاق
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end Delete Modal-->

        </div>

    </div>

</div>


<!--end div container-->
<script>
    $(".modal").on("hidden.bs.modal", function() {
        $(this).find('form').trigger("reset");
        $('.custom-file-label').html('أختر صورة');
    });

    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });
</script>
</body>
</html>