<% include ../partials/header  %>  

<!--start div container-->
<div class="container-fluid">


    <div class="row ">

        <div class="col-lg-11 mr-3  bg-white shadow pb-3">
            <div class="d-flex">
                <h4 class="text-right pt-3"><i class="fas fa-utensils  text-danger"></i> الأكلات </h4>
                <button id="add-button" type="button" class="btn btn-success  mr-auto m-3" data-toggle="modal" data-target="#addModal">
                    <i class="far fa-plus-square fa-1x"></i> أكلة جديدة
                </button>
            </div>
            <hr>
            <div class="form-inline">
                <input type="text" id="myInput" class="form-control form-control-sm " onkeyup="myFunction()" placeholder="بحث" title="Type in a name">
                <button class="btn btn-success mr-auto" onclick="exportCsv()"><i class="fas fa-file-csv"></i> تصدير كملف CSV </button>
            </div>
            <!--start Table-->
            <div class="table-responsive-sm ">
                <table id="bootstrap-table" class="table table-striped ">

                    <!--start Table Head-->
                    <thead class="text-center bg-danger text-white ">
                    <tr>
                        <th># تسلسل</th>
                        <th>رمز الأكلة</th>
                        <th>أسم الأكلة</th>
                        <th>صنف الأكلة</th>
                        <th>سعر الأكلة</th>
                        <th>تفاصيل عنها</th>
                        <th>الفعاليات</th>
                    </tr>
                    </thead>
                    <!--end Table Head-->

                    <!--start Table Body-->
                    <tbody id="orderTbl" class="text-center">
                    <% if(items.length > 0){ %>
                        <% var i=1; items.forEach(function(item){
                             %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= item.Id %></td>
                        <td><%= item.item_name %></td>
                        <td><%= item.category_name %></td>
                        <td><%= item.item_price %></td>
                        <td><p><%= item.item_description %></p></td>
                        <td class="text-center">
                            <a href="/items/<%= item.uuid %>" id="show-item" class="show-item btn btn-info btn-sm text-white" data-toggle="modal"
                               data-target="#editModal">
                                <i class="fas fa-eye"></i>
                                مشاهدة
                            </a>
                        </td>
                    </tr>
                    <%  i++;}); %>
                    <% } %>
                    </tbody>
                    <!--end Table Body-->

                </table>
            </div>
            <!--end Table-->

            <!--table summery-->
            <div class="row text-center  justify-content-center mt-2">

                <div class="col-4  bg-danger text-white border border-danger mb-3">
                    <h5 class="font-weight-bold pt-2"><i class="fas fa-utensils"></i> عدد الأكلات : <%= itemsCount %> </h5>
                </div>

                <div class="col-4 bg-danger text-white border border-danger mb-3">
                    <h5 class="font-weight-bold pt-2"><i class="fas fa-file-invoice-dollar"></i> أجمالي الأسعار : <%= itemsCost %> </h5>
                </div>

            </div>
            <!--end table summery-->

            <!--Add Modal -->
            <div class="modal fade text-right" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header text-white card-color">
                            <h5 class="modal-title"><i class="far fa-plus-square"></i> أكلة جديدة :</h5>
                        </div>

                        <div class="modal-body ">
                            <form id="addForm" action="/items/insert" method="POST" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="addItemName"><i class="fas fa-utensils text-danger"></i> أسم الأكلة
                                            : </label>
                                        <input type="text" class="form-control form-control-sm" name="addItemName"
                                               id="addItemName" required>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="addItemPrice"><i class="far fa-money-bill-alt text-danger"></i>
                                            السعر :</label>
                                        <input type="number" class="form-control form-control-sm" name="addItemPrice"
                                               id="addItemPrice" required>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="addItemCategory"><i class="fas fa-th text-danger"></i> صنف الأكلة :</label>
                                        <select class="form-control" name="addItemCategory"
                                                id="addItemCategory" required>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="addcustomFile"><i class="fas fa-image text-danger"></i> صورة
                                            الأكلة :</label>
                                        <div class="custom-file text-left">
                                            <input type="file" class="custom-file-input" id="addcustomFile" name="addItemImage" required="required">
                                            <label class="custom-file-label" for="addcustomFile">أختر صورة</label>
                                        </div>
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="addItemDescription"><i class="far fa-file-alt text-danger"></i>
                                            تفاصيل الأكلة :</label>
                                        <textarea class="form-control form-control-sm" rows="2" cols="30"
                                                  id="addItemDescription" name="addItemDescription"></textarea>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="modal-footer justify-content-center justify-content-between card-color">
                            <a href="#" id="addForm-button" role="button" class="btn btn-success btn-md text-white"><i
                                    class="far fa-plus-square"></i> حفظ </a>
                            <button type="button" class="btn btn-danger btn-md" data-dismiss="modal"><i
                                    class="far fa-times-circle"></i> أغلاق
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <!--end Add Edit Modal-->

            <!--Edit Modal -->
            <div class="modal fade text-right" id="editModal" tabindex="-1" role="dialog"
                 aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <img id="itemImage" class="blure-image img-fluid vw-100" src="">
                            <img id="smallItemImage" class="rounded-circle border border-danger overly-item-image" height="120" width="120"
                                 src="">
                        </div>

                        <div class="modal-body ">
                            <form id="editForm" action="/items/update" method="POST" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="itemName"><i class="fas fa-utensils text-danger"></i> أسم الأكلة :
                                        </label>
                                        <input type="text" class="form-control form-control-sm" name="itemName"
                                               id="itemName" required>
                                        <input type="hidden" class="form-control form-control-sm" name="itemId"
                                               id="itemId">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="itemPrice"><i class="far fa-money-bill-alt text-danger"></i> السعر :</label>
                                        <input type="number" class="form-control form-control-sm" name="itemPrice"
                                               id="itemPrice" required>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="itemCategory"><i class="fas fa-th text-danger"></i> صنف الأكلة
                                            :</label>
                                        <select name="itemCategory" id="itemCategory" class='form-control'>
                                            
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="editcustomFile"><i class="fas fa-image text-danger"></i> صورة
                                            الأكلة :</label>
                                        <div class="custom-file text-left">
                                            <input type="file" class="custom-file-input" id="editcustomFile" name="itemImage">
                                            <label class="custom-file-label" for="editcustomFile">أختر صورة</label>
                                            <input type="hidden" class="form-control form-control-sm" name="itemImageEdit"
                                               id="itemImageEdit">
                                        </div>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="itemDescription"><i class="far fa-file-alt text-danger"></i> تفاصيل
                                            الأكلة :</label>
                                        <textarea class="form-control form-control-sm" rows="2" cols="30"
                                                  id="itemDescription" name="itemDescription"></textarea>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="modal-footer justify-content-center justify-content-between card-color">
                            <a href="#" role="button" id="editForm-button" class="btn btn-warning btn-md text-white"><i
                                    class="far fa-edit"></i> تعديل </a>
                            <a href="#" role="button" class="btn btn-danger btn-md text-white" data-dismiss="modal"
                               data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i> حذف </a>
                            <button  type="button" class="btn btn-primary btn-md" id="closeEditModal" data-dismiss="modal"><i
                                    class="far fa-times-circle"></i> أغلاق
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end Edit Modal-->

            <!--Delete Modal -->
            <div class="modal fade text-right" id="deleteModal" tabindex="-1" role="dialog"
                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header text-white card-color">
                            <h5 class="modal-title"><i class="far fa-trash-alt"></i> حذف الأكلة :</h5>
                        </div>

                        <div class="modal-body ">
                            <form action="">
                                <div class="form-row">
                                    <div class="form-group col-12 text-center">
                                        <img src="../public/imgs/food.jpg" class="shadow rounded" width="100"
                                             height="100" alt="">
                                    </div>
                                    <div class="form-group col-12 text-center">
                                        <h5 class="">هل أنت متأكد من حذف </h5>
                                        <h4 id="deleteItemAlert" class="text-danger"></h4>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <div class="modal-footer justify-content-center justify-content-between card-color">
                            <a href="#" id="delete-item"  role="button" class="btn btn-danger btn-md text-white"><i
                                    class="far fa-trash-alt"></i> حذف </a>
                            <button type="button" class="btn btn-primary btn-md" data-dismiss="modal"><i
                                    class="far fa-times-circle"></i> أغلاق
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end Delete Modal-->

        </div>

    </div>

</div>


<!--end div container-->


<script src="/js/tabelExport/js/tableexport.min.js"></script>
<script src="/js/tabelExport/FileSaver.min.js"></script>
<script src="/js/bootstrap_datatable/ar-lang.js"></script>

<script>
    function exportCsv(){
        $('#bootstrap-table').tableExport({type:'csv'});
    }

    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#orderTbl tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(".modal").on("hidden.bs.modal", function() {
        $(this).find('form').trigger("reset");
        $('.custom-file-label').html('أختر صورة');
    });

    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });
</script>

</body>
</html>