<% include ../partials/header  %>

<!--start div container-->
<div class="container-fluid">


    <div class="row ">

        <div class="col-lg-3 col-md-4 col-sm-6 mb-3  ">
            <div class="card myShadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-right text-secondary">
                            <h6 class="font-weight-bold">الطلبات المعلقة</h6>
                            <h3 class="text-info"><%= suspended %></h3>
                        </div>
                        <i class="x fas fa-clock fa-3x text-info pt-3"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3  ">
            <div class="card myShadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-right text-secondary">
                            <h6 class="font-weight-bold">الطلبات المنفذة</h6>
                            <h3 class="text-success"><%= deliverd %></h3>
                        </div>
                        <i class="fas fa-check-circle fa-3x text-success pt-3"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3  ">
            <div class="card myShadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-right text-secondary">
                            <h6 class="font-weight-bold">الطلبات المرفوضة</h6>
                            <h3 class="text-danger"><%= reject %></h3>
                        </div>
                        <i class="fas fa-times-circle fa-3x text-danger pt-3"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3  ">
            <div class="card myShadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-right text-secondary">
                            <h6 class="font-weight-bold">قيد التوصيل</h6>
                            <h3 class="text-warning"><%= underDelivery %></h3>
                        </div>
                        <i class="fas fa-people-carry text-warning fa-3x pt-3"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12   bg-white shadow ">
            <div class="d-flex">
                <h4 class="text-right pt-3"><i class="fas fa-boxes  text-danger"></i> الطلبات </h4>
            </div>
            <hr>
            <div class="form-inline">
                <input type="text" id="myInput" class="form-control form-control-sm " onkeyup="myFunction()" placeholder="بحث" title="Type in a name">
                <button class="btn btn-success mr-auto" onclick="exportCsv()"><i class="fas fa-file-csv"></i> تصدير كملف CSV </button>
            </div>
            <!--start Table-->
            <div class="table-responsive-sm ">
                <table id="bootstrap-table" class="table table-striped ">

                    <!--start Table Head-->
                    <thead class="text-center bg-danger text-white ">
                    <tr>
                        <th># تسلسل</th>
                        <th>رقم الطلب</th>
                        <th>أسم العميل</th>
                        <th>رقم الهاتف</th>
                        <th>العنوان</th>
                        <th>وقت الطلب</th>
                        <th>المبلغ</th>
                        <th>حالة الطلب</th>
                        <th>ديون الزبون</th>
                        <th>نوع الدفع</th>
                        <th>تفاصيل</th>
                    </tr>
                    </thead>
                    <!--end Table Head-->

                    <!--start Table Body-->
                    <tbody id="orderTbl" class="text-center">
                    <% if(orders.length > 0){ %>
                        <% var i=1; orders.forEach(function(order){ %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= order.Id %></td>
                        <td><%= order.customer_name %></td>
                        <td><%= order.customer_phone %></td>
                        <td><%= order.address %></td>
                        <td><%= order.TIMEONLY %></td>
                        <td><%= order.final_cost %></td>
                        <% if (order.stutes_Id == 1) { %>
                        <td><span class="badge badge-success text-white"><i
                                class="far fa-check-circle"></i> تم تنفيذه</span></td>
                        <% } %>
                        <% if (order.stutes_Id == 2) { %>
                        <td><span class="badge badge-warning text-white"><i class="fas fa-people-carry"></i> قيد التوصيل</span>
                        </td>
                        <% } %>
                        <% if (order.stutes_Id == 3) { %>
                            <td><span class="badge badge-danger text-white"><i class="far fa-times-circle"></i> مرفوض</span>
                            </td>
                            <% } %>
                        <% if (order.stutes_Id == 4) { %>
                        <td><span class="badge badge-info text-white"><i class="far fa-clock"></i> معلق</span></td>
                        <% } %>
                        <td><%= order.debit %></td>
                        <% if (order.payment_type == 1) { %>
                            <td>كاش</td>
                        <% } %>
                        <% if (order.payment_type == 2) { %>
                            <td>على الراتب</td>
                        <% } %>
                        <% if (order.payment_type == 3) { %>
                            <td>اقساطي</td>
                        <% } %>
                        <% if (order.payment_type == 4) { %>
                            <td>كي كارد</td>
                        <% } %>
                        <td><a href="/orders/details/<%= order.uuid %>" class="show-order btn btn-primary btn-sm" role="button" data-toggle="modal"
                            data-target="#orderDetailsModal"><i class="far fa-eye"></i> مشاهدة
                    </a></td>
                    </tr>
                    <% i++; }); %>
                    <% } %>
                    </tbody>
                    <!--end Table Body-->
                </table>

            </div>
            <!--end Table-->

            <!--table summery-->
            <div class="row text-center  justify-content-center mt-2">

                <div class="col-4  bg-danger text-white border border-danger mb-3">
                    <h5 class="font-weight-bold pt-2"><i class="fas fa-boxes"></i> عدد الطلبات : <%= ordersCount %> </h5>
                </div>

                <div class="col-4 bg-danger text-white border border-danger mb-3">
                 <h5 class="font-weight-bold pt-2"><i class="fas fa-file-invoice-dollar"></i> أجمالي المبلغ : <%= ordersCost %> </h5>
               </div>

            </div>
            <!--end table summery-->


            <!--Start Order Details Modal -->
            <div class="modal fade text-right" id="orderDetailsModal" tabindex="-1" role="dialog"
                 aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">

                    <div class="modal-content justify-content-around">
                        <div class="modal-header card-color text-white">
                            <h5 class="modal-title">
                                <i class="far fa-file-alt"></i> تفاصيل طلب رقم # : O-2JDN
                                <span class="badge badge-info  text-white" id="status"><i class="far fa-clock"></i> معلق</span>
                            </h5>
                        </div>
                        <div class="modal-body ">
                            <div class="form-row text-danger">
                                <div class="form-group col-lg-2 col-md-3 col-md-4">
                                    <label for="orderID"><i class="far fa-user-circle"></i> أسم العميل : </label>
                                    <input type="text" class="form-control form-control-sm" name="orderID" id="orderID"
                                           value="قاسم محمد" readonly>
                                </div>
                                <div class="form-group col-lg-2 col-md-3 col-md-4">
                                    <label for="phone"><i class="fas fa-mobile-alt"></i> الهاتف : </label>
                                    <input type="text" class="form-control form-control-sm" name="phone" id="phone"
                                           value="7727736646" readonly>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-md-4">
                                    <label for="address"><i class="fas fa-map-marked-alt"></i> العنوان : </label>
                                    <input type="text" class="form-control form-control-sm" name="address" id="address"
                                           value="بغداد-الكاظمية-ساحة الزهراء" readonly>
                                </div>
                                <div class="form-group col-lg-2 col-md-3 col-md-4">
                                    <label for="orderTime"><i class="far fa-calendar-alt"></i> وقت الطلب : </label>
                                    <input type="time" class="form-control form-control-sm" name="orderTime"
                                           id="orderTime" value="13:30" readonly>
                                </div>
                                <div class="form-group col-lg-2 col-md-3 col-md-4">
                                    <label for="amount"><i class="far fa-money-bill-alt"></i> المبلغ : </label>
                                    <input type="number" class="form-control form-control-sm" name="amount" id="amount"
                                           value="13500" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">

                                    <!--start Table-->
                                    <div class="table-responsive-sm shadow">
                                        <table class="table table-striped table-bordered">

                                            <!--start Table Head-->
                                            <thead class="text-center bg-danger text-white ">
                                            <tr>
                                                <th># تسلسل</th>
                                                <th>أسم الأكلة</th>
                                                <th>صنفها</th>
                                                <th>العدد</th>
                                                <th>المبلغ</th>
                                                <th>الأجمالي</th>
                                            </tr>
                                            </thead>
                                            <!--end Table Head-->

                                            <!--start Table Body-->
                                            <tbody id="orders-table" class="text-center">
                                            
                                            </tbody>
                                            <!--end Table Body-->

                                        </table>
                                    </div>
                                    <!--end Table-->

                                </div>

                                <div class="col-12 text-center">
                                    <h5 id="finalCost" class="text-success"></h5>
                                </div>

                            </div>

                        </div>

                        <div class="modal-footer justify-content-center justify-content-between card-color">
                            <a href="" id="button-accept-orders" role="button" class="btn btn-success btn-md text-white"><i
                                    class="far fa-check-circle"></i> قبول الطلب </a>
                            <a href="" id="button-reject-orders"  role="button" class="btn btn-danger btn-md text-white"><i
                                    class="far fa-window-close"></i> رفض الطلب </a>
                            <button type="button" class="btn btn-primary btn-md" data-dismiss="modal"><i
                                    class="far fa-times-circle"></i> أغلاق
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Order Details Modal-->

        </div>

    </div>

</div>


<!--end div container-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<script src="/js/tabelExport/js/tableexport.min.js"></script>
<script src="/js/tabelExport/FileSaver.min.js"></script>
<script src="/js/bootstrap_datatable/ar-lang.js"></script>
<script>
    function exportCsv(){
        $('#bootstrap-table').tableExport({type:'csv'});
    }

    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#orderTbl tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>
</body>
</html>